@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.googleapis.com/css?family=Raleway);
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

html *
{
   font-family: Raleway !important;
   text-align: center;
   vertical-align: middle;
}

.addbutton {
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.back{
  float: left;
  background-color: inherit;
  border: none;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  height: 30px;
  width: 30px;
}

br {
  line-height: 160%;
}

h1 {
  margin-bottom: 5px;
  padding: 0;
  display: inline;
  clear: none;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  padding: 0;
}

legend {
  font-size: 20px;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}
